<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head.ejs') %>
    <body> 
        <%- include('../partials/header.ejs') %>

    <main class="productDetail__main">
            <div class="img-desc-pre">
                <section class=".productDetail__section">
                    <article class="img-producto">
                        <img class="productDetail__img" width="100%" src="/images/productos/<%=mainImage||'ANAFE-PORTATIL-BUTANO.jpg'%>" alt="">
                    </article>
                    <div class="coso">
                    <article class="a-titulo">
                        <p class="titulo"><%= name %></p>
                    </article>
                    <article class="precio-cant">
                        <table>
                            <tr>
                                <th class="precio-n">$<%= toThousand(price) %></th>
                            </tr>
                            <tr>
                                <td>
                                    <button onclick="document.getElementById('cantidad').value > 1 && document.getElementById('cantidad').value--">-</button>
                                    <input type="number" id="cantidad" name="cantidad" min="1" max="99" value="1"  style="text-align: center;">
                                    <button onclick="document.getElementById('cantidad').value++">+</button>
                                </td>
                            </tr>
                        </table>
        
                            <span class="b-compras">
                                <input type="button" value="comprar" onclick="addToCart('<%=id%>','<%=name%>','<%=price%>','<%=mainImage%>', document.getElementById('cantidad').value)">
                                <input type="button" value="agregar al carrito" onclick="addToCart('<%=id%>','<%=name%>','<%=price%>','<%=mainImage%>', document.getElementById('cantidad').value)">
                            </span>
                        </article>
                    </div> 
                </section>
                
                <section class=".productDetail__section">
                    <article class="desc-producto">
                        <h4 class="productDetail__h4">Descripción</h4>
    
                        <p class="productDetail__p">
                            <span><%= description %></span>
                        </p>
                    </article>
                    <article class="tb-producto">
                        <table>
                            <tr>
                                <th>Caracteristicas</th>
                            </tr>
                            <tr><td>Categoria</td>
                                <td><%= category? category.name : '' %></td>
                            </tr>
                            <tr><td>Material</td>
                                <td><%= material? material.name : '' %></td>
                            </tr>
                            <tr><td>Origen</td>
                                <td><%= origin? origin.name : '' %></td>
                            </tr>
                            
                        </table>


                    </article>
                </section>
            </div>
    </main>

    <%- include('../partials/footer.ejs') %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>