
<article class="productCard_article">
    <h3><%= product.name %></h3>
    <a href="/products/detail/<%= product.id %>">
        <img
        src="/images/productos/<%=product.mainImage || 'ANAFE-PORTATIL-BUTANO.jpg'%>"
        alt="imagen de producto"
        />
    </a>
    <p>Descripción del producto. Puede ser un resumen breve sobre sus características o beneficios.</p>
    <div class="productCard_div">
        <p>$<%= toThousand(product.price) %></p>
        <% if (product.discount) { %>
        <span>%<%= product.discount %> OFF</span>
        <% } %>
  </div>
  <button>Agregar al carrito</button>
</article>