<div class="swiper-slide">
    <a href="/products/detail/<%= product.id %>">
        <img src="/images/productos/<%= product.image %>" alt="destacado1">
    </a>
    <p><%= product.name %></p>
    <p class="precioActual">$<%= toThousand(product.precio) %></p>
    <p><%= product.descripcion %></p>
</div>