<div class="allProduct__container">
        <section class="allProduct__section">            
            <div>
                <figure class="allProduct__figure">
                    <a href="/products/detail/<%= product.id %>">
                        <img src="/images/productos/<%=product.mainImage|| 'ANAFE-PORTATIL-BUTANO.jpg'%>" alt="imagen de producto">
                    </a>  
                </figure>
                <article class="allProduct__article">
                    <h3><%= product.name %></h3>
                    <p>Precio: $<%= toThousand(product.price) %></p>
                    <% if (product.discount) { %>
                    <span>%<%= product.discount %></span>
                    <% } %>
                                    
                </article>                
            </div>       
        </section>
    </div>
  