<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/header.ejs') %>
    <main class="profile__main">
        <section class="profile__main__section">
            <form class="profile__main__section__form" action="/users/editProfile/">
                <h3>MI PERFIL</h3>
                <label for="firstName">Nombre: <%= user.firstName %></label>
                <label for="lastName">Apellido: <%= user.lastName %></label>
                <label for="email">Email: <%= user.email %></label>
                <a href="/users/editProfile/<%= user.id %>">
                    <button type="button">EDITAR PERFIL</button>
                </a>
            </form>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>