<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %>

    <title>Editar producto</title>

    <body>
        <%- include('../partials/header.ejs') %>
            <main class="container">
                <section class="row my-5 mx-auto">
                    <div class="card">
                        <h3 class="card-header d-flex justify-content">EDITAR PERFIL</h3>
                        <div class="card-body">
                            <form class="row" action="/users/editProfile/<%= id %>?_method=PUT" method="POST">
                                <div class="col-12  col-md-6  mb-3">
                                    <div>
                                        <label for="name" class="form-floating mt-4">Nombre</label>
                                        <input type="text" name="name" class="form-control <%= locals.errors && errors.name ? 'is-invalid' : null %>"
                                            id="name" value="<%= name %>">
                                        <small class="text-danger ms-2">
                                            <%= locals.errors && errors.name ? errors.name.msg : null %>
                                        </small>
                                    </div>
                                    <div>
                                        <label for="lastName" class="form-floating mt-4">Apellido</label>
                                        <input type="text" name="lastName"
                                            class="form-control <%= locals.errors && errors.lastName ? 'is-invalid' : null %>" id="lastName"
                                            value="<%= lastName %>">
                                        <small class="text-danger ms-2">
                                            <%= locals.errors && errors.lastName ? errors.lastName.msg : null %>
                                        </small>
                                    </div>
                                    <div>
                                        <label for="email" class="form-floating mt-4">Email</label>
                                        <input type="email" name="email" class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>"
                                            id="email" value="<%= email %>" />
                                        <small class="text-danger ms-2">
                                            <%= locals.errors && errors.email ? errors.email.msg : null %>
                                        </small>
                                    </div>
                                    <button class="btn btn-success  btn-md w-100">Actualizar datos</button>
                                </div>
                    
                            </form>
                        </div>
                    </div>
                
                </section>
            </main>
    
    
            <%- include('../partials/footer.ejs') %>
    
                <%- include('../partials/scripts') %>
    </body>

</html>